<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Sitecore.Kernel" version="8.1.3" targetFramework="net45" />
  <package id="SXA81.Sitecore.XA.Feature.SiteMetadata" version="1.4.0" targetFramework="net45" />
  <package id="SXA81.Sitecore.XA.Foundation.Common" version="1.4.0" targetFramework="net45" />
  <package id="SXA81.Sitecore.XA.Foundation.Multisite" version="1.4.0" targetFramework="net45" />
</packages>